body {
  font-family: "Comic Sans MS", cursive;
  background: linear-gradient(135deg, #ffd6e7, #ffc0cb);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  backdrop-filter: blur(15px);
  background: rgba(255,255,255,0.7);
  padding: 30px;
  border-radius: 25px;
  width: 380px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.15);
  text-align: center;
}

h1 {
  color: #ff4fa3;
}

/* budget */
.budget-box input {
  width: 65%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.budget-box button {
  padding: 10px;
  border: none;
  background: #ff69b4;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.budget-text {
  margin: 5px;
  font-weight: bold;
}

/* balance */
.balance-card {
  background: linear-gradient(135deg,#ffb6c1,#ffc0cb);
  padding: 15px;
  border-radius: 18px;
  margin: 15px 0;
}

/* form */
.form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 12px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg,#ff69b4,#ff4fa3);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

/* list */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

/* green income */
.income {
  border-left: 6px solid green;
  color: green;
}

/* red expense */
.expense {
  border-left: 6px solid red;
  color: red;
}

.delete-btn {
  background: red;
  border: none;
  color: white;
  padding: 5px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.chart-box {
  margin-top: 20px;
}

